In [5]:
import pymysql

# 設定資料庫連線資訊
dbInfo = {
    'host':'localhost',
    'port':3306,
    'user':'root',
    'passwd':'yuting1101',
    'db':'testdb',
    'charset':'utf8mb4'
}

# 建立連線
conn = pymysql.connect(**dbInfo) # **類似kwargs，將上面的連線資訊拆分為host=host,port=port....
print("Successfully connected!!")

Successfully connected!!

In [11]:
# 建立游標
cursor = conn.cursor()

In [ ]:
# Execute SQL

In [12]:
# INSERT 一筆資料，注意 TABLE 欄位的資料型態
# 先寫好 SQL 語法
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

# 將指令放進 cursor 物件並執行
cursor.execute(sql)

1

In [13]:
# COMMIT指令
conn.commit()

In [14]:
# select語法
sql = "select * from staff;"

In [17]:
cursor.execute(sql)

1

In [16]:
# fetchall => 為generator，取完資料就變成空的
data = cursor.fetchall()
data

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),)

In [18]:
# 關閉游標&連線
cursor.close()
conn.close()